@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Josefin+Sans:ital,wght@1,700&family=Lobster&family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container .title {
    margin-bottom: 200px;
    text-transform: uppercase;
}

.container .hex {
    font-size: 30px;
    margin-bottom: 100px;
}

.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    color: #ffff;
    background-color: #0000ffbc;
    transition: 1s ease-in;
}

.container button:hover {
    color: #0000ffbc;
    background-color: #ffff;
    transition: 1s ease-in-out;
}